<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		
		<!-- DESARROLLO -->
		<!-- <property name="hibernate.connection.url">jdbc:postgresql://192.168.0.21:5432/zukha</property> -->
		<!-- <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/zukha</property> --> 
		<!-- <property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">sukhavati</property> -->
		
		<!-- PRODUCCION -->
		<property name="hibernate.connection.url">jdbc:postgresql://google/core?cloudSqlInstance=sukhavaty-services:us-central1:sukha&amp;socketFactory=com.google.cloud.sql.postgres.SocketFactory&amp;user=core&amp;password=sukhavati2020</property>
		<property name="hibernate.connection.username">core</property>
		<property name="hibernate.connection.password">sukhavati2020</property>
		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		<property name="show_sql">false</property>

		<!-- Configuring Connection Pool -->
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.max_size">15</property>
		<property name="hibernate.c3p0.timeout">500</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">2000</property>

		<!-- Mapping With Model Class Containing Annotations -->
		<mapping class="com.sukhavati.models.dao.User" />
		<mapping class="com.sukhavati.models.dao.UserMenu" />
		<mapping class="com.sukhavati.models.dao.Menu" />
		<mapping class="com.sukhavati.models.dao.Student" />
		<mapping class="com.sukhavati.models.dao.Sepomex" />
		<!-- liberar tablas  -->
		<mapping class="com.sukhavati.models.dao.ClassSet" />
		<mapping class="com.sukhavati.models.dao.PaymentMethod" />
	</session-factory>
</hibernate-configuration>